.form-title {
    margin-bottom: 2rem;
  }
  
  .App-link {
    color:orange;
  }
  
  .btn {
    margin-top: 1rem;
    margin-bottom: 4rem;
  }
  
  .feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
    margin-bottom: 0;
  }
  
  ul {
    padding: 2rem;
    border: 2px solid white;
  }
  
  .main-form {
    padding: 3rem;
    background: white;
    width: 60%;
  }
  .main-form.signup-div {
    margin-top: 5rem;
  }
  
  .form-control.select {
    margin-top: 2rem;
  }